/* main.css */

body {
    margin: 0;
    font-family: 'Red Hat Text', sans-serif;
    background-color: hsl(20, 50%, 98%);
    color: hsl(14, 65%, 9%);
  }
  
  header {
    padding: 1rem;
  }
  
  h1 {
    margin: 0;
  }
  
  .main-content {
    display: flex;
  }
  
  /* Products Grid */
  .products-section {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    gap: 1rem;
    padding: 1rem;
  }
  
  /* Product Card */
  .product-card {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .product-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  /* Carrito (aside) */
  .cart-container {
    width: 350px;
    background-color: hsl(13, 31%, 94%);
    padding: 1rem;
  }
  
  /* Modal */
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
  }
  .close-modal-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  